1.Perkenalan

Nama: Praduta Firman

Live Code 2

2. Judul

Promblems


1. Diketahui toko buah X menjual 10 produk dengan label nama A-J. Data penjualan serta pendapatan total toko X selalu dicatat setiap harinya dan berikut data penjualan 10 hari terakhir:


Hari ke-	A	B	C	D	E	F	G	H	I	J	Pendapatan
1	14	19	2	44	9	1	3	40	17	22	1402500
2	7	26	26	24	54	2	2	4	22	18	2325000
3	37	54	1	43	46	23	37	36	18	17	3307000
4	19	19	45	41	43	21	38	51	56	37	4077000
5	47	28	50	10	44	54	3	47	2	21	3998000
6	12	41	31	25	44	13	16	9	47	3	2674500
7	20	19	53	56	34	6	60	37	35	49	4014000
8	60	44	1	16	9	24	55	55	30	10	2754500
9	41	55	50	28	59	54	40	9	45	34	5511500
10	14	11	39	2	26	17	51	19	38	39	3338500st item

Berapa harga masing-masing produk A-J?

3. Import Pustaka

In [11]:
import pandas as pd
import numpy as np
import sympy as sy

In [14]:
hari1 = np.array([[14,19,2,44,9,1,3,40,17,22,1402500],
                  [7,26,26,24,54,2,2,4,22,18,2325000],
                  [37,54,1,43,46,23,37,36,18,17,3307000],
                  [19,19,45,41,43,21,38,51,56,37,4077000],
                  [47,28,50,10,44,54,3,47,2,21,3998000],
                  [12,41,31,25,44,13,16,9,47,3,2674500],
                  [20,19,53,56,34,6,60,37,35,49,4014000],
                  [60,44,1,16,9,24,55,55,30,10,2754500],
                  [41,55,50,28,59,54,40,9,45,34,5511500],
                  [14,11,39,2,26,17,51,19,38,39,3338500]])

In [84]:
a = np.array([[14,7,37,19,47,12,20,60,41,14]])
b = np.array([[19,26,54,19,28,41,19,44,55,11]])
c = np.array([[2,26,1,45,50,31,53,1,50,39]])
d = np.array([[44,24,43,41,10,25,56,16,28,2]])
e = np.array([[9,54,46,43,44,44,34,24,59,26]])
f = np.array([[1,2,23,21,54,13,6,24,54,17]])
g = np.array([[3,2,37,38,3,16,60,55,40,51]])
h = np.array([[40,4,36,51,47,9,37,55,9,19]])
i = np.array([[17,22,18,56,2,47,35,30,45,38]])
j = np.array([[22,18,17,37,21,3,49,10,34,39]])

a

array([[14,  7, 37, 19, 47, 12, 20, 60, 41, 14]])

In [67]:
b

array([[19, 26, 54, 19, 28, 41, 19, 44, 55, 11]])

In [68]:
c

array([[ 2, 26,  1, 45, 50, 31, 53,  1, 50, 39]])

In [69]:
d

array([[44, 24, 43, 41, 10, 25, 56, 16, 28,  2]])

In [70]:
e

array([[ 9, 54, 46, 43, 44, 44, 34, 24, 59, 26]])

In [71]:
f

array([[ 1,  2, 23, 21, 54, 13,  6, 24, 54, 17]])

In [72]:
g

array([[ 3,  2, 37, 38,  3, 16, 60, 55, 40, 51]])

In [73]:
h

array([[40,  4, 36, 51, 47,  9, 37, 55,  9, 19]])

In [74]:
i

array([[17, 22, 18, 56,  2, 47, 35, 30, 45, 38]])

In [75]:
j

array([[22, 18, 17, 37, 21,  3, 49, 10, 34, 39]])

In [76]:
a
b
c
d
e
f
g
h
i
j
unique, counts = np.unique(a, return_counts=True)

In [77]:
  OBE = sy.Matrix(a)
  OBE.rref()

(Matrix([[1, 1/2, 37/14, 19/14, 47/14, 6/7, 10/7, 30/7, 41/14, 1]]), (0,))

In [78]:
a.T

array([[14],
       [ 7],
       [37],
       [19],
       [47],
       [12],
       [20],
       [60],
       [41],
       [14]])

In [106]:
a.sum()

257

In [107]:
b.sum()

316

In [79]:
b = np.array([[19,26,54,19,28,41,19,44,55,11]])
ab = sy.Matrix(b)
ab.rref()

(Matrix([[1, 26/19, 54/19, 1, 28/19, 41/19, 1, 44/19, 55/19, 11/19]]), (0,))

In [80]:
np.linalg.norm(a)

101.01980003939822

4. Data Loading

Soal 1 :

In [81]:
a = np.array(counts)
a

array([1, 1, 2, 1, 1, 1, 1, 1, 1])

In [91]:

a=np.array([[14,7,37],
          [19,47,12],
          [20,60,41]])
eigVal,eigVec=np.linalg.eig(a)

2. Menggunakan konsep integral, tentukan luas negara Swiss jika diketahui koordinat batas-batasnya! Dataset koordinat batas Swiss dapat diakses pada link berikut: https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/Swiss_boundaries.txt?token=AEZDEHXBTS7OMF32RTYPKZDA2FELA

Soal 2 :

In [124]:
df = pd.read_csv('https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/Swiss_boundaries.txt?token=AEZDEHXBTS7OMF32RTYPKZDA2FELA')
df

     longitude  latitude
0      9.56672  47.54045
1      9.55980  47.50209
2      9.59660  47.46944
3      9.64965  47.45861
4      9.67035  47.39069
..         ...       ...
273    9.03333  47.68833
274    9.08264  47.68541
275    9.26110  47.66284
276    9.47832  47.57585
277    9.56672  47.54045

[278 rows x 2 columns]

In [125]:
df.head()

   longitude  latitude
0    9.56672  47.54045
1    9.55980  47.50209
2    9.59660  47.46944
3    9.64965  47.45861
4    9.67035  47.39069

In [126]:
len(df)

278

In [127]:
df.shape

(278, 2)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   longitude  278 non-null    float64
 1   latitude   278 non-null    float64
dtypes: float64(2)
memory usage: 4.5 KB

In [129]:
df.describe()

        longitude    latitude
count  278.000000  278.000000
mean     8.388293   46.789161
std      1.308479    0.627381
min      5.967010   45.829440
25%      7.339238   46.251680
50%      8.572925   46.616660
75%      9.500760   47.460065
max     10.488210   47.806660

In [150]:
center = (df.min() + df.max())/2
center

longitude     8.22761
latitude     46.81805
dtype: float64

In [151]:
nortlong = []
for i in df.longitude:
  if i >= 8.22761:
    nortlong.append(i)
nortlong

[9.566720000000089,
 9.559800000000052,
 9.59660000000008,
 9.649650000000065,
 9.670350000000044,
 9.637360000000058,
 9.610970000000068,
 9.540000000000076,
 9.533570000000054,
 9.496800000000064,
 9.48500000000007,
 9.487080000000047,
 9.502080000000092,
 9.511730000000057,
 9.474640000000079,
 9.485280000000046,
 9.506390000000067,
 9.541390000000092,
 9.598630000000073,
 9.632500000000052,
 9.719440000000077,
 9.87292000000008,
 9.89160000000004,
 9.875830000000065,
 9.877780000000088,
 9.935000000000061,
 10.058890000000076,
 10.109440000000065,
 10.131530000000057,
 10.14181000000008,
 10.16083000000009,
 10.227500000000076,
 10.313330000000065,
 10.323330000000057,
 10.350620000000047,
 10.390760000000057,
 10.430000000000064,
 10.488210000000038,
 10.47124000000008,
 10.447500000000046,
 10.470830000000092,
 10.486530000000073,
 10.485690000000089,
 10.471870000000079,
 10.457530000000077,
 10.44972000000007,
 10.33722000000006,
 10.303610000000047,
 10.246320000000082,
 10.253610000000037,
 10.241810000000044,
 10.181110000000047,
 10.119170000000056,
 10.051390000000083,
 10.044440000000067,
 10.049690000000057,
 10.090690000000052,
 10.153890000000047,
 10.17396000000008,
 10.136390000000064,
 10.071770000000072,
 9.995000000000061,
 9.982220000000039,
 9.990420000000086,
 9.946940000000039,
 9.908050000000062,
 9.852780000000052,
 9.813060000000064,
 9.770560000000046,
 9.708820000000062,
 9.624720000000082,
 9.581940000000088,
 9.544860000000083,
 9.521390000000055,
 9.457640000000083,
 9.45028000000008,
 9.45500000000004,
 9.366800000000067,
 9.293780000000083,
 9.250620000000083,
 9.273120000000064,
 9.297220000000037,
 9.292640000000064,
 9.27667000000008,
 9.241010000000074,
 9.176460000000077,
 9.144440000000088,
 9.132220000000077,
 9.083330000000046,
 9.03583000000009,
 9.01667000000009,
 8.997360000000073,
 9.022990000000052,
 9.07305000000008,
 9.084100000000092,
 9.036660000000039,
 8.998330000000069,
 8.951110000000085,
 8.93632000000008,
 8.926670000000057,
 8.897780000000068,
 8.819860000000062,
 8.820280000000082,
 8.851460000000088,
 8.844170000000076,
 8.822220000000073,
 8.747220000000084,
 8.72885000000008,
 8.71930000000009,
 8.696530000000052,
 8.615830000000074,
 8.460550000000067,
 8.44500000000005,
 8.434580000000041,
 8.448120000000074,
 8.465970000000084,
 8.460830000000044,
 8.441450000000088,
 8.365280000000041,
 8.35722000000004,
 8.303750000000093,
 8.240830000000074,
 8.289100000000076,
 8.39083000000005,
 8.435830000000069,
 8.471250000000055,
 8.523470000000088,
 8.562910000000045,
 8.569430000000068,
 8.57642000000004,
 8.593050000000062,
 8.624960000000044,
 8.610250000000066,
 8.580550000000073,
 8.540550000000053,
 8.522080000000074,
 8.48542000000009,
 8.419030000000078,
 8.406940000000077,
 8.477080000000058,
 8.562920000000076,
 8.611670000000059,
 8.66139000000004,
 8.685550000000093,
 8.73646000000008,
 8.732260000000052,
 8.72022000000004,
 8.753330000000062,
 8.800130000000083,
 8.77437000000009,
 8.805480000000045,
 8.835280000000068,
 8.855830000000083,
 8.883300000000078,
 8.898890000000051,
 8.925970000000062,
 8.94778000000008,
 8.979440000000068,
 9.000830000000065,
 9.033330000000092,
 9.082640000000083,
 9.261100000000058,
 9.478320000000052,
 9.566720000000089]

In [152]:
southlong = []
for i in df.longitude:
  if i <= 8.22761:
    southlong.append(i)
southlong

[8.141940000000089,
 8.158750000000055,
 8.149580000000071,
 8.009030000000052,
 7.9730500000000575,
 7.950000000000045,
 7.906810000000063,
 7.8793000000000575,
 7.866390000000081,
 7.855740000000082,
 7.783890000000043,
 7.743330000000071,
 7.709170000000086,
 7.650280000000067,
 7.536670000000073,
 7.458060000000047,
 7.429720000000088,
 7.386110000000088,
 7.338890000000049,
 7.29681000000005,
 7.23028000000005,
 7.191390000000069,
 7.10326000000009,
 7.070280000000082,
 7.038050000000055,
 7.030550000000062,
 7.007220000000075,
 6.933050000000037,
 6.873890000000074,
 6.7834700000000785,
 6.800000000000068,
 6.80702000000008,
 6.798330000000077,
 6.7377800000000425,
 6.702780000000075,
 6.63361000000009,
 6.5151400000000885,
 6.491940000000057,
 6.319720000000075,
 6.29556000000008,
 6.244860000000074,
 6.230000000000075,
 6.243750000000091,
 6.271950000000062,
 6.245550000000037,
 6.187500000000057,
 6.133260000000063,
 5.996390000000076,
 5.967010000000073,
 5.981390000000089,
 6.00917000000004,
 6.0300000000000855,
 6.074580000000083,
 6.115560000000073,
 6.106110000000057,
 6.117640000000051,
 6.153540000000078,
 6.1111100000000524,
 6.07111000000009,
 6.086940000000084,
 6.13528000000008,
 6.128680000000088,
 6.269170000000088,
 6.358750000000043,
 6.435000000000058,
 6.456870000000037,
 6.4469400000000405,
 6.4602800000000675,
 6.52833000000004,
 6.566390000000069,
 6.63250000000005,
 6.678330000000074,
 6.699440000000037,
 6.793330000000083,
 6.849720000000048,
 6.838960000000043,
 6.971670000000074,
 7.000830000000064,
 6.980830000000083,
 6.931390000000079,
 6.881670000000043,
 6.990560000000073,
 7.025000000000091,
 7.146420000000091,
 7.182920000000081,
 7.2477100000000405,
 7.275550000000068,
 7.308330000000068,
 7.340280000000063,
 7.3559000000000765,
 7.35806000000008,
 7.385420000000068,
 7.415550000000052,
 7.433050000000037,
 7.452780000000075,
 7.496940000000053,
 7.5022200000000785,
 7.5025700000000475,
 7.521670000000086,
 7.546670000000062,
 7.5540300000000675,
 7.5770800000000795,
 7.58827000000008,
 7.64056000000005,
 7.675690000000088,
 7.668820000000039,
 7.621110000000044,
 7.656110000000068,
 7.697220000000073,
 7.769720000000063,
 7.917710000000057,
 8.033330000000094,
 8.101840000000037,
 8.195760000000064]

In [154]:
nortlat = []
for i in df.latitude:
  if i >= 46.81805:
    nortlat.append(i)
nortlat

[47.54045000000008,
 47.50209000000007,
 47.46944000000008,
 47.45861000000008,
 47.39069000000006,
 47.369580000000035,
 47.362220000000036,
 47.284160000000035,
 47.274540000000066,
 47.223330000000026,
 47.196240000000046,
 47.172630000000076,
 47.146810000000066,
 47.10597000000007,
 47.05746000000005,
 47.06110000000007,
 47.06472000000008,
 47.07000000000005,
 47.06384000000008,
 47.05667000000005,
 47.050280000000036,
 47.02305000000007,
 47.00034000000005,
 46.968180000000075,
 46.940410000000035,
 46.91277000000007,
 46.86638000000005,
 46.85027000000007,
 46.85041000000007,
 46.85134000000005,
 46.854990000000036,
 46.87694000000005,
 46.933610000000044,
 46.955550000000066,
 46.99124000000007,
 47.00257000000005,
 46.984160000000095,
 46.93599000000007,
 46.871350000000064,
 46.839440000000074,
 46.895830000000046,
 46.971670000000074,
 46.980000000000075,
 47.000000000000064,
 47.034160000000035,
 47.063890000000065,
 47.13083000000007,
 47.164990000000046,
 47.17152000000005,
 47.29194000000007,
 47.365000000000066,
 47.36166000000009,
 47.358890000000095,
 47.363680000000045,
 47.49722000000008,
 47.508050000000075,
 47.49905000000007,
 47.44402000000007,
 47.421660000000095,
 47.432490000000094,
 47.440280000000094,
 47.4390200000001,
 47.434020000000025,
 47.433610000000044,
 47.43333000000007,
 47.445280000000075,
 47.46055000000007,
 47.469990000000045,
 47.494990000000094,
 47.500550000000025,
 47.549930000000074,
 47.559710000000045,
 47.565550000000094,
 47.578880000000076,
 47.58430000000004,
 47.584480000000035,
 47.60388000000007,
 47.604990000000036,
 47.57604000000004,
 47.56110000000007,
 47.55055000000005,
 47.543330000000076,
 47.553330000000074,
 47.554230000000075,
 47.55611000000005,
 47.57107000000008,
 47.62034000000007,
 47.61944000000005,
 47.60909000000004,
 47.58000000000004,
 47.573610000000095,
 47.60735000000005,
 47.632700000000064,
 47.618400000000065,
 47.598540000000064,
 47.59137000000004,
 47.60055000000007,
 47.656210000000044,
 47.66773000000007,
 47.668610000000065,
 47.664300000000075,
 47.65166000000005,
 47.647080000000074,
 47.67388000000005,
 47.70180000000005,
 47.770620000000065,
 47.80666000000008,
 47.80388000000005,
 47.798050000000046,
 47.78666000000004,
 47.757080000000094,
 47.70829000000003,
 47.696620000000046,
 47.693610000000035,
 47.68172000000004,
 47.71597000000008,
 47.73604000000007,
 47.71805000000007,
 47.698880000000095,
 47.654150000000065,
 47.650830000000035,
 47.65180000000004,
 47.657490000000045,
 47.67014000000007,
 47.680830000000064,
 47.688330000000065,
 47.68541000000005,
 47.662840000000074,
 47.57585000000007,
 47.54045000000008]

In [155]:
soutlat = []
for i in df.latitude:
  if i <= 46.81805:
    soutlat.append(i)
soutlat

[46.76305000000008,
 46.63583000000007,
 46.617350000000044,
 46.592640000000074,
 46.55576000000008,
 46.54251000000005,
 46.53916000000004,
 46.54944000000007,
 46.554860000000076,
 46.59041000000008,
 46.61597000000007,
 46.63444000000004,
 46.632220000000075,
 46.61138000000005,
 46.54152000000005,
 46.502640000000035,
 46.44559000000004,
 46.42375000000004,
 46.39027000000005,
 46.263120000000065,
 46.23069000000004,
 46.221800000000094,
 46.29167000000007,
 46.333050000000064,
 46.355200000000075,
 46.379580000000026,
 46.38319000000007,
 46.36972000000009,
 46.35833000000007,
 46.34221000000008,
 46.30027000000007,
 46.29194000000007,
 46.29694000000006,
 46.30624000000007,
 46.319720000000075,
 46.386240000000036,
 46.426670000000065,
 46.472500000000075,
 46.508050000000075,
 46.500830000000065,
 46.44242000000008,
 46.425760000000075,
 46.350970000000075,
 46.324860000000065,
 46.292500000000075,
 46.23363000000007,
 46.17861000000005,
 46.16805000000005,
 46.160270000000075,
 46.121110000000044,
 46.05722000000009,
 46.022500000000036,
 45.97514000000007,
 45.93895000000003,
 45.920000000000066,
 45.90229000000005,
 45.837780000000066,
 45.82944000000003,
 45.8452700000001,
 45.871870000000065,
 45.900830000000035,
 45.95277000000005,
 45.98639000000009,
 46.033890000000035,
 46.056730000000066,
 46.08076000000007,
 46.098610000000065,
 46.121110000000044,
 46.10859000000005,
 46.10402000000005,
 46.10111000000007,
 46.121250000000096,
 46.23333000000007,
 46.24722000000008,
 46.29319000000004,
 46.32298000000009,
 46.372630000000065,
 46.44833000000007,
 46.462080000000064,
 46.453600000000044,
 46.450000000000045,
 46.422910000000066,
 46.22291000000007,
 46.183820000000075,
 46.151240000000094,
 46.009300000000046,
 45.996940000000045,
 45.99416000000008,
 45.99263000000008,
 45.97514000000007,
 45.94832000000007,
 45.91905000000008,
 45.923610000000046,
 45.93222000000009,
 45.94333000000007,
 45.98055000000005,
 45.981670000000065,
 45.94111000000004,
 45.92944000000006,
 45.915410000000065,
 45.92055000000005,
 45.92319000000003,
 45.89805000000007,
 45.880690000000065,
 45.88354000000004,
 45.90306000000004,
 45.93194000000005,
 45.96194000000008,
 45.998060000000066,
 46.055270000000064,
 46.08805000000007,
 46.15472000000005,
 46.378320000000095,
 46.40423000000004,
 46.42861000000005,
 46.447490000000066,
 46.454720000000066,
 46.464170000000074,
 46.458460000000066,
 46.453050000000076,
 46.40416000000005,
 46.39416000000006,
 46.356390000000026,
 46.33020000000005,
 46.315510000000074,
 46.26194000000004,
 46.21833000000004,
 46.17208000000005,
 46.14978000000008,
 46.14694000000009,
 46.207290000000064,
 46.221940000000075,
 46.233890000000095,
 46.241390000000074,
 46.24840000000007,
 46.261520000000075,
 46.29749000000004,
 46.308750000000096,
 46.379270000000076,
 46.40972000000005,
 46.426380000000044,
 46.44944000000004,
 46.539720000000045,
 46.58805000000007,
 46.68278000000004,
 46.71673000000004,
 46.758050000000075,
 46.78145000000006]

In [168]:
luas = df.longitude * df.latitude
luas

0      454.806174
1      454.110480
2      455.545228
3      457.958976
4      458.284559
          ...
273    430.784422
274    433.109412
275    441.410328
276    450.939131
277    454.806174
Length: 278, dtype: float64

5. Mathematical Calculation

Soal 1 :

In [92]:
eigVal

array([86.66282951 +0.j        ,  7.66858524+13.34279616j,
        7.66858524-13.34279616j])

In [ ]:

eigVec

array([[ 0.43980992+0.j        ,  0.85319479+0.j        ,
         0.85319479-0.j        ],
       [ 0.4464514 +0.j        , -0.31361611-0.21253055j,
        -0.31361611+0.21253055j],
       [ 0.77926144+0.j        , -0.08666533+0.34788427j,
        -0.08666533-0.34788427j]])

In [93]:
np.fliplr(np.diag(eigVal))

array([[ 0.         +0.j        ,  0.         +0.j        ,
        86.66282951 +0.j        ],
       [ 0.         +0.j        ,  7.66858524+13.34279616j,
         0.         +0.j        ],
       [ 7.66858524-13.34279616j,  0.         +0.j        ,
         0.         +0.j        ]])

Soal 2 :

In [169]:
luas = df.longitude * df.latitude
luas

0      454.806174
1      454.110480
2      455.545228
3      457.958976
4      458.284559
          ...
273    430.784422
274    433.109412
275    441.410328
276    450.939131
277    454.806174
Length: 278, dtype: float64

6. Hasil

1. Jadi hasil masing - masing produk A-J adalah 100.0198

2. Jadi luas negara Swiss adalah  454.806174 m2